<top><h1> Current Listings For {{city}}</h1>
<span></span></top>


<div id="listingsBox">
    <div id="grid1">
      {{#if Toronto}}
       <div class="pic">
           <img src="/img/room2.PNG" height="100%" width="100%">
          <p><b>Toronto <br> $114 CAD/Night</b><br>Single Bedroom near CN Tower</p>
       </div>
     <div class="pic">
           <img src="/img/room4.PNG" height="100%" width="100%">
           <p><b>Toronto <br> $199 CAD/Night</b><br>Luxury Oasis in Downtown Toronto</p>
           </div>
     <div class="pic">
           <img src="/img/room6.PNG" height="100%" width="100%">
         <p><b>Toronto <br> $168 CAD/Night</b><br>Modern design with city views</p>
           </div>
           {{/if}}
           {{#if Hamilton}}
            <div class="pic">
          <img src="/img/room1.PNG" height="100%" width="100%">
      <p><b>Hamilton <br> $120 CAD/Night</b><br>Cozy getaway on the lake</p>
      </div>
      {{/if}}
      {{#if Ottawa}}
       <div class="pic">
           <img src="/img/room3.PNG" height="100%" width="100%">
           <p><b>Ottawa <br> $155 CAD/Night</b><br>Modern 1Bdrm Apartment</p>
           </div>
           {{/if}}
      {{#if Muskoka}}
       <div class="pic">
           <img src="/img/room5.PNG" height="100%" width="100%">
          <p> <b>Muskoka <br> $175 CAD/Night</b><br>Romantic Cottage Getaway</p>
           </div>
           {{/if}}
      
       
    </div>
</div>



