<top>
    <h1> Home Page </h1>
</top>
<span></span>
<div id="homeDisplay">
  

<div id="booking">
      <div>
         <h1 id="getStart">Getting Started</h1>
    </div>
    <hr>
    
    <form method="POST" action="/">
     {{#each error}}
    <div class="errors"> 
       {{this}}
  </div>
  {{/each}}
        <label class="lab">Where?</label>
            <select class="textbox">
                <option value="Toronto">Toronto</option>
                <option value="Hamilon">Hamilton</option>
                <option value="Muskoka">Muskoka</option>
                <option value="Ottawa">Ottawa</option>
            </select>
        <label class="lab">Checkin Date </label>
            <input type="date" name="checkIn" value={{f_date}}>
        <label class="lab">  Checkout Date </label>
            <input type="date" name="checkOut">
        <label class="lab">Number Of Guests</label>
            <select class="textbox">
                <option value="1g">1 Guest </option>
                <option value="2g">2 Guests </option>
                <option value="3g">3 Guests </option>
                <option value="4g">4 Guests </option>
                <option value="5g">5 Guests </option>
                <option value="6g">6 Guests </option>
                <option value="7g">7+ Guests </option>
            </select>
            <hr>
        <input type="submit" class="button" value="Check For Rooms">
    </form>
</div>
<div id="login">
    <h1 id="getStart">Login</h4>
    
     <form method="POST" action="/User/login">
      {{#each l_error}}
    <div class="errors"> 
       {{this}}
  </div>
  {{/each}}
     
     <label class="userName">Enter Your Email</label>
     <input type="email" class="textbox" name="l_email"> 
     
    
     <label>Enter Your Password</label>
     <input type="password" class="textbox" name="l_pword">
    
     <p>Not a member? <a href="/registeration">Click here</a></p>
     
     <input type="submit" class="button2" value="Sign In"></button>
     </form>
</div>
</div>