top {
    text-align: center;
    height: 18.5vh;
    color: rgb(16,102,154);
    
}
#signUp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
} 
.box {
    margin-top: 2px;
    padding: 2px;
    border-radius: 1px;

}
#registerBox {
    background-color: rgb(250, 242, 242);
    grid-column: 2 /span 3;
    padding: 5vh 5vw;
    margin-left: 5vw;
    border-radius: 10px;
}
#acc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(16,102,154);
   text-align: center;
}
/*#sideBox {
    box-sizing: border-box;
    margin-right: 60vw;
    margin-left: 5vw;
   
    background-color: pink;
    border: 1px solid black;
    border-radius: 3px;
} */
span {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
} 
hr {
    border: 1px solid #ffffff;
    margin-bottom: 25px;
    margin-top: 25px;
  } 
.textbox:hover {
    border: 2px solid rgb(16,102,154); 
} 
.textbox {
    width: 80%;
    padding: 10px 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    margin-top: 2vh;
    border: 1px solid grey;
	border-radius: 3px;
	color: grey;
	font-size: 15px;
} 
.button:hover {
    background-color: rgba(170, 2, 2, 0.486); 
}
    
.button {
    border: none;
    width: 100%;
    padding: 10px 25px;
    font-size: 20px;
    Background-color: rgb(170, 2, 2); 

}

/*Listings Page */


#grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  
  padding: 10px;
  
}
.pic {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}
.pic a {
    color: green;
    
}

#listingsBox p {
    display: block;
    position: absolute;
    text-align: left;
    font-size: 15px;

    width: 30%;
    
}

.errors
{
    
    color:red;
   
    
}
#homeDisplay {

	
	 
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#booking{
    margin-left: 15%;
    margin-right: 15%;
	background-color: rgb(250, 242, 242);
	border-radius: 3px;
	padding: 10%; 
	
}

#login {
    grid-column: 4/6 ;
   
	border-radius: 3px;
	padding: 10%; 
}

.lab {
    display: block;
    margin-top: 3px;
}

.button2 {
    border: none;
    width: 50%;
    padding: 10px 25px;
    font-size: 20px;
    Background-color: rgb(170, 2, 2); 
}


