
{{#each l_error}}
    <div class="errors">{{this}}</div>
{{/each}}


<h2>Login User</h2>
<form action="/user/login" method="POST">
    <label for="username">Email</label>
    <input type="text" id="email" name="l_email"><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="l_pword"> <br><br>

    <input type="submit" value="Login">
</form>


